{% extends "account/base.html" %}

{% block title %}ProtonPayer - Reset Password{% endblock %}

{% block nav_bar %}
	<!-- Navbar -->
	<nav class="navbar navbar-default">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>                        
	    </button>
	    <a class="navbar-brand" href="{% url "account:home" %}">ProtonPayer</a>
	  </div>
	  <div class="collapse navbar-collapse" id="myNavbar">

	    <!-- Navbar left -->
	    <ul class="nav navbar-nav nav-custom-left">
	      <li><a href="{% url "account:home" %}">Home</a></li>
	      <li><a href="{% url "account:home" %}#howitworks">How It Works</a></li>
	      <li><a href="{% url "account:home" %}#packages">Packages</a></li>
	      <li><a href="{% url "account:home" %}#contact">Contact Us</a></li>
	    </ul>

	    <!-- Navbar right -->
	    <ul class="nav navbar-nav navbar-right">
	        <li><a href="{% url "account:register" %}"><span class="fa fa-user fa-fw"></span> Sign Up</a></li>
	        <li><a href="{% url "account:login" %}"><span class="fa fa-sign-in fa-fw"></span> Login</a></li>
	    </ul>

	  </div>
	</div>
	</nav>
{% endblock %}

{% block content %}
	
	<div class="container"> <div class="row m-t-20"> <div class="col-md-6 col-md-offset-3"> <div class="panel panel-default"> <div class="panel-heading text-center"> <h4>Reset Password</h4> </div> <div class="panel-body">

    <form role="form" method="POST" action=".">
      <div class="form-group">
      <label for="email" class="sr-only">E-Mail Address</label>
      <div class=""> 
      <input placeholder="E-Mail Address" type="email" class="form-control " name="email" value="" required autofocus> 
      </div> </div>
      <div class="form-group">
      <div class="">
      </div> </div> 
      <div class="form-group">
      <div class="text-center">

      {% csrf_token %}
      <button type="submit" class="btn btn-primary"> Send Password Reset Link </button>
      </div> </div> 
    </form> 
  </div> </div> </div> </div> </div> 

{% endblock %}

{% block footer%}
  <!-- FOOTER -->
  <footer class="section">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="footer-alt text-center">
                      <p class="text-muted m-b-0">2017 © Copyright of ProtonPayer</p>
                  </div>
              </div>
          </div> <!-- end row -->

      </div> <!-- end container -->
  </footer>
  <!-- END FOOTER -->
{% endblock %}