{% extends "account/base.html" %}

{% block title %}ProtonPayer - Recieve Cash{% endblock %}

{% block nav_bar %}
	{% if request.user.is_authenticated %}
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="{% url "account:home" %}">Proton Payer</a>
		    </div>

		    <ul class="nav navbar-top-links navbar-left" style="padding-left: 0px; margin-left: 0px;">
                <li class="dropdown home" style="padding-left: 0px; margin-left: 0px;">
                    <a href="{% url 'account:feedback' %}" style="padding-left: 0px; margin-left: 0px;"><span class="fa fa-envelope fa-fw"></span> Send FeedBack</a>
                </li>
                <li class="dropdown home">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-left: 0px; margin-left: 0px;"><span class="fa fa-user fa-fw"></span> {{ request.user }}<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'account:profile' %}"><i class="fa fa-user fa-fw"></i> My Profile</a></li>
			          <li><a href="{% url 'account:password_change' %}"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
			          <li class="divider"></li>
			          <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			        </ul>
			    </li>
            </ul>

		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="{% url "account:dashboard" %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
		        <li><a href="{% url "account:send_cash" %}"><i class="fa fa-upload fa-fw"></i> Send Cash</a></li>
		        <li><a href="{% url "account:recieve_cash" %}"><i class="fa fa-download fa-fw"></i> Recieve Cash</a></li>
		        <li><a href="{% url "account:login" %}"><i class="fa fa-history fa-fw"></i> Account Summary</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	{% endif %}
{% endblock %}