{% extends "account/base.html" %}

{% block title %}ProtonPayer - Registration{% endblock %}

{% block nav_bar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{% url "account:home" %}">Proton Payer</a>
    </div>

    <ul class="nav navbar-top-links navbar-left" style="padding-left: 0px; margin-left: 0px;">
        <li class="dropdown home" style="padding-left: 0px; margin-left: 0px;">
            <a href="{% url 'account:feedback' %}" style="padding-left: 0px; margin-left: 0px;"><span class="fa fa-envelope fa-fw"></span> Send FeedBack</a>
        </li>
    </ul>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "account:login" %}"><span class="fa fa-sign-in fa-fw"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

<div class="panel panel-default" style="margin-bottom: 40px;">
  <div class="panel-heading">
    <span class="fa fa-bookmark fa-fw"></span> Sign Up
  </div>
    <div class="panel-body">

      <form action="." class="form-register" name="registration" method="post" role="form">
      {% if user_form.errors  %}
        <div class="alert alert-danger" style="margin-bottom: 15px;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {% for fields in user_form %}
              {% if fields.errors.as_text %}
                  <strong>Error!</strong> {{ fields.errors.as_text }}.</br>
              {% endif %}
        {% endfor %}
        </div>
      {% elif registered %}
        <div class="alert alert-success" style="margin-bottom: 15px;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Your account has been successfully created. Now you can <a href="{% url 'account:login' %}">log in</a>.
        </div>
      {% endif %}
      <legend></legend>
      <fieldset>             
        <div class="form-group">
          <label>Username:</label>
          <input class="form-control" placeholder="min. of 4 alpha-numeric chars" type='text' name='username' value={% if user_form.username.value %}{{ user_form.username.value }}{% else %}""{% endif %} required/>
        </div>              
        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" type='password' name='password' required/>
        </div>
        <div class="form-group">
          <label>Confirm Password:</label>
          <input class="form-control" type='password' name='password2' required/>
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" type='text' name='email' value={% if user_form.email.value %}{{ user_form.email.value }}{% else %}""{% endif %} required/>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input  class="form-control" placeholder="Phone number must be 11 digits long" type='text' onkeypress="return validateNumber(event)" name='phone' maxlength="11" value={% if user_form.phone.value %}{{ user_form.phone.value }}{% else %}""{% endif %} required/>
        </div>
        <div class="form-group">
            <label>Surname:</label>
            <input  class="form-control" placeholder="Only alphabets" type='text' name='surname' value={% if user_form.surname.value %}{{ user_form.surname.value }}{% else %}""{% endif %} required/>
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <input class="form-control" placeholder="Only alphabets" type='text' name='first_name' value={% if user_form.first_name.value %}{{ user_form.first_name.value }}{% else %}""{% endif %} required/>
        </div>
        <div class="form-group">
            <label>Bank:</label>
            <select class="form-control" name="bank" required>
                <option></option>
                <option>
                    Access Bank</option>
                <option>
                    Citibank</option>
                <option>
                    Diamond Bank</option>
                <option>
                    Ecobank Nigeria</option>
                <option>
                    Fidelity Bank Nigeria</option>
                <option>
                    First Bank of Nigeria</option>
                <option>
                    First City Monument Bank</option>
                <option>
                    FSDH Merchant Bank</option>
                <option>
                    Guaranty Trust Bank</option>
                <option>
                    Heritage Bank Plc.</option>
                <option>
                    Keystone Bank Limited</option>
                <option>
                    Rand Merchant Bank</option>
                <option>
                    Skye Bank</option>
                <option>
                    Stanbic IBTC Bank Nigeria Limited</option>
                <option>
                    Standard Chartered Bank</option>
                <option>
                    Sterling Bank</option>
                <option>
                    Suntrust Bank Nigeria Limited</option>
                <option>
                    Union Bank of Nigeria</option>
                <option>
                    United Bank for Africa</option>
                <option>
                    Unity Bank Plc.</option>
                <option>
                    Wema Bank</option>
                <option>
                    Zenith Bank
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Account Number:</label>
            <input class="form-control" name="account_number" onkeypress="return validateNumber(event)" class="form-input" maxlength="10" value={% if user_form.account_number.value %}{{ user_form.account_number.value }}{% else %}""{% endif %} required />
        </div>
       
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block">Register</button>
      
        <div class="row" style="text-align: center">
          <a class="col-xs-12 " href="{% url "account:password_reset" %}"><i class="fa fa-unlock fa-fw"></i>Forgot Password?</a>
          <a class="col-xs-12 " href="{% url "account:login" %}"><i class="fa fa-sign-in fa-fw"></i>Login</a>
        </div>
      </fieldset>
    </form>

    </div>
</div>

</div></div></div>

{% endblock %}
    
