{% extends "account/base.html" %}

{% block title %}ProtonPayer - Send Cash{% endblock %}

{% block nav_bar %}
	{% if request.user.is_authenticated %}
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="{% url "account:home" %}">Proton Payer</a>
		    </div>

		    <ul class="nav navbar-top-links navbar-left" style="padding-left: 0px; margin-left: 0px;">
                <li class="dropdown home" style="padding-left: 0px; margin-left: 0px;">
                    <a href="{% url 'account:home' %}" style="padding-left: 0px; margin-left: 0px;"><span class="fa fa-envelope fa-fw"></span> Send FeedBack</a>
                </li>
                <li class="dropdown home">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-left: 0px; margin-left: 0px;"><span class="fa fa-user fa-fw"></span> {{ request.user }}<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'account:profile' %}"><i class="fa fa-user fa-fw"></i> My Profile</a></li>
			          <li><a href="{% url 'account:password_change' %}"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
			          <li class="divider"></li>
			          <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			        </ul>
			    </li>
            </ul>

		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="{% url "account:dashboard" %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
		        <li><a href="{% url "account:send_cash" %}"><i class="fa fa-upload fa-fw"></i> Send Cash</a></li>
		        <li><a href="{% url "account:recieve_cash" %}"><i class="fa fa-download fa-fw"></i> Recieve Cash</a></li>
		        <li><a href="{% url "account:login" %}"><i class="fa fa-history fa-fw"></i> Account Summary</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	{% endif %}
{% endblock %}

{% block content %}

	<div class="col-sm-12" style="margin-bottom: 10px;">
        <h1>Send Cash</h1>
    </div>
    <hr>
	
	<div class="panel-body">

		{% if request.user.profile.package == "None" %}
			<div class="row" style="margin-bottom: 5px; margin-top: 5px;">
				<div id="block-10k">
		            <!--Use PHP to decide which block to show-->
		                <div id="no-10k" class="col-lg-4 col-md-6">

		                    <div class="panel panel-success">
		                        <div class="panel-heading">
		                            <div class="row">
		                                <div class="col-xs-3">
		                                    <i class="fa fa-money fa-3x"></i>
		                                </div>
		                                <div class="col-xs-9 text-right">
		                                    <h4><i class="fa fa-upload fa-fw"></i>Send <br />₦10,000</h4>
		                                    <div>Be Ready Before You Click Here!</div>
		                                </div>
		                            </div>
		                        </div>
		                        <form style="padding:0;box-sizing:border-box;" class="panel-footer" method="post" action=".">
		                            <input hidden name="amt" value="10k" />
		                            {% csrf_token %}
		                            <button style="width:100%;border:none;font-size:20px;margin:0;">
		                                <span class="pull-left">Place Request</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </button>
		                        </form>
		                    </div>
		            
		                </div>
	            </div>

	                      <article class="pricing-column col-lg-3 col-md-3">
		                <div class="inner-box">
		                    <div class="plan-header text-center">
		                        <h3 class="plan-title">Alpha Package</h3>
		                        <h4 class="plan-info">You Pay</h4>
		                        <h2 class="plan-price">₦ 5,000</h2>
		                        <h4 class="plan-info">You Earn</h4>
		                        <h2 class="plan-price">₦ 10,000</h2>
		                    </div>
		                    <div class="text-center">
		                    <form action="." method="post" role="form">
		                            <input hidden name="amt" value="5k" />
		                            {% csrf_token %}
		                            <button type="submit" name="amt" value="5k" class="btn btn-sm btn-custom" role="button">
		                            Select
		                        	</button>
		                    </form>
		                    </div>
		                </div>
		            </article>
		            
	            <div id="block-20k">
	            <!--Use PHP to decide which block to show-->
	                <div id="no-20k" class="col-lg-4 col-md-6">

	                    <div class="panel panel-success">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-money fa-3x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <h4><i class="fa fa-upload fa-fw"></i>Send <br />₦20,000</h4>
	                                    <div>Be Ready Before You Click Here!</div>
	                                </div>
	                            </div>
	                        </div>
	                        <form style="padding:0;box-sizing:border-box;" class="panel-footer" method="post" action=".">
	                            <input hidden name="amt" value="20k" />
	                            {% csrf_token %}
	                            <button style="width:100%;border:none;font-size:20px;margin:0;">
	                                <span class="pull-left">Place Request</span>
	                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                <div class="clearfix"></div>
	                            </button>
	                        </form>
	                    </div>
	            
	                </div>
	            </div>
	        </div>

	        <div class="row" style="margin-bottom: 5px; margin-top: 5px;">
	            <div id="block-50k">
	            <!--Use PHP to decide which block to show-->
	                <div id="no-50k" class="col-lg-4 col-md-6">

	                    <div class="panel panel-success">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-money fa-3x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <h4><i class="fa fa-upload fa-fw"></i>Send <br />₦50,000</h4>
	                                    <div>Be Ready Before You Click Here!</div>
	                                </div>
	                            </div>
	                        </div>
	                        <form style="padding:0;box-sizing:border-box;" class="panel-footer" method="post" action=".">
	                            <input hidden name="amt" value="50k" />
	                            {% csrf_token %}
	                            <button style="width:100%;border:none;font-size:20px;margin:0;">
	                                <span class="pull-left">Place Request</span>
	                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                <div class="clearfix"></div>
	                            </button>
	                        </form>
	                    </div>
	            
	                </div>
	            </div>

	            <div id="block-100k">
	            <!--Use PHP to decide which block to show-->
	                <div id="no-100k" class="col-lg-4 col-md-6">

	                    <div class="panel panel-success">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-money fa-3x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <h4><i class="fa fa-upload fa-fw"></i>Send <br />₦100,000</h4>
	                                    <div>Be Ready Before You Click Here!</div>
	                                </div>
	                            </div>
	                        </div>
	                        <form style="padding:0;box-sizing:border-box;" class="panel-footer" method="post" action=".">
	                            <input hidden name="amt" value="100k" />
	                            {% csrf_token %}
	                            <button style="width:100%;border:none;font-size:20px;margin:0;">
	                                <span class="pull-left">Place Request</span>
	                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                <div class="clearfix"></div>
	                            </button>
	                        </form>
	                    </div>
	            
	                </div>
	            </div>
	        </div>

	        <div class="row" style="margin-bottom: 5px; margin-top: 5px;">
	            <div id="block-200k">
	            <!--Use PHP to decide which block to show-->
	                <div id="no-200k" class="col-lg-4 col-md-6">

	                    <div class="panel panel-success">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-money fa-3x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <h4><i class="fa fa-upload fa-fw"></i>Send <br />₦200,000</h4>
	                                    <div>Be Ready Before You Click Here!</div>
	                                </div>
	                            </div>
	                        </div>
	                        <form style="padding:0;box-sizing:border-box;" class="panel-footer" method="post" action=".">
	                            <input hidden name="amt" value="200k" />
	                            {% csrf_token %}
	                            <button style="width:100%;border:none;font-size:20px;margin:0;">
	                                <span class="pull-left">Place Request</span>
	                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                <div class="clearfix"></div>
	                            </button>
	                        </form>
	                    </div>
	            
	                </div>
	            </div>

	            <div id="block-500k">
	            <!--Use PHP to decide which block to show-->
	                <div id="no-500k" class="col-lg-4 col-md-6">

	                    <div class="panel panel-success">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-money fa-3x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <h4><i class="fa fa-upload fa-fw"></i>Send <br />₦500,000</h4>
	                                    <div>Be Ready Before You Click Here!</div>
	                                </div>
	                            </div>
	                        </div>
	                        <form style="padding:0;box-sizing:border-box;" class="panel-footer" method="post" action=".">
	                            <input hidden name="amt" value="500k" />
	                            {% csrf_token %}
	                            <button style="width:100%;border:none;font-size:20px;margin:0;">
	                                <span class="pull-left">Place Request</span>
	                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                <div class="clearfix"></div>
	                            </button>
	                        </form>
	                    </div>
	            
	                </div>
	            </div>
	        </div>
	    {% elif request.user.profile.matched %}
	    <div class="col-lg-8 col-md-8">

	    	<div class="panel-body" style="padding-bottom: 10px;">
            <div class="row panel panel-warning" style="padding-bottom: 10px;">
                <div class="panel-heading">
                    Please, send your payment of ₦{{ request.user.profile.package|slice:":-1" }},000 to activate this position
                </div>

		    <div style="padding-left: 10px;">
	            <!--Use PHP to decide which block to show-->
	                <div >
	                    <div class="timeline-panel">
	                        <div class="timeline-heading">
	                            <h4 class="timeline-title">Pay ₦{{ request.user.profile.package|slice:":-1" }},000 to {{ GH_user }}</h4>
	                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> Since {{ PH_user.PH_time|date:"F t, Y H:i A" }} <br /> Time left: <span id="countdown"></span></small>
	                            </p>
	                            
	                <script>
	                    var initialTime = {{ init_time }} ;//Place here the total of seconds you receive on your PHP code. ie: var initialTime = ;

	                    var seconds = initialTime;
	                    function timer() {
	                        var days        = Math.floor(seconds/(24*3600)/60/60);
	                        var hoursLeft   = Math.floor((seconds) - (days*86400));
	                        //var hoursLeft   = Math.floor(seconds/60);
	                        var hours       = Math.floor(hoursLeft/3600);
	                        var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
	                        var minutes     = Math.floor(minutesLeft/60);
	                        var remainingSeconds = seconds % 60;
	                        if (remainingSeconds < 10) {
	                            remainingSeconds = "0" + remainingSeconds; 
	                        }
	                        //document.getElementById('countdown').innerHTML = days + "d " + hours + "hrs " + minutes + "min " + remainingSeconds+ "sec";
	                        document.getElementById('countdown').innerHTML = hours + "hrs " + minutes + "min " + remainingSeconds+ "sec";
	                        if (seconds == 0) {
	                            clearInterval(countdownTimer);
	                            document.getElementById('countdown').innerHTML = "Refresh your browser to see the correct time";
	                        } else {
	                            seconds--;
	                        }
	                    }
	                    var countdownTimer = setInterval('timer()', 1000);
	                </script>
                        </div>
                        <div class="timeline-body">
                            <small>
                                <ul class="nav in" id="side-menu">
                                
                                    <li>
                                        <b><i class="fa fa-phone fa-fw"></i> Phone:</b> {{ GH_profile.phone }}                                            </li>
                                    <li>
                                        <b><i class="fa fa-bank fa-fw"></i> Bank:</b> {{ GH_profile.bank }}                                            </li>
                                    <li>
                                        <b><i class="fa fa-external-link fa-fw"></i> Acct. No.:</b> {{ GH_profile.account_number }}                                            </li>
                                    <li>
                                        <b><i class="fa fa-user fa-fw"></i> Ben. Name:</b> {{ GH_profile.surname|title }} {{ GH_profile.first_name|title }}                                            </li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </div></div></div>

        {% elif request.user.profile.matched and request.user.profile.PHed %}

        <div>
        <!--Use PHP to decide which block to show-->
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <i class="fa fa-money fa-3x"><small> ₦{{ request.user.profile.package|slice:":-1" }},000</small></i> 
                            </div>
                            <div class="col-xs-12">
                                <h4><i class="fa fa-download fa-fw"></i><b>Congrats!</b> You are listed</h4>
                                <div>Receive your complete cash, then come back to place another request.</div>
                            </div>
                        </div>
                    </div>
                </div>                

            </div>
        </div>

        {% else %}
        	<div id="block-500k">
	            <!--Use PHP to decide which block to show-->
                <div id="no-500k" class="col-lg-4 col-md-6">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h4><i class="fa fa-upload fa-fw"></i>Send <br />₦{{ request.user.profile.package|slice:":-1" }},000</h4>
                                    <div>Pending...</div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
		{% endif %}

    </div>
    <!-- /.panel-body -->

{% endblock %}

