{% extends "account/base.html" %}

{% block title %}ProtonPayer - User Profile{% endblock %}

{% block nav_bar %}
	{% if request.user.is_authenticated %}
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="{% url "account:home" %}">Proton Payer</a>
		    </div>

		    <ul class="nav navbar-top-links navbar-left" style="padding-left: 0px; margin-left: 0px;">
                <li class="dropdown home" style="padding-left: 0px; margin-left: 0px;">
                    <a href="{% url 'account:feedback' %}" style="padding-left: 0px; margin-left: 0px;"><span class="fa fa-envelope fa-fw"></span> Send FeedBack</a>
                </li>
                <li class="dropdown home">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-left: 0px; margin-left: 0px;"><span class="fa fa-user fa-fw"></span> {{ request.user }}<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'account:profile' %}"><i class="fa fa-user fa-fw"></i> My Profile</a></li>
			          <li><a href="{% url 'account:password_change' %}"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
			          <li class="divider"></li>
			          <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			        </ul>
			    </li>
            </ul>

		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="{% url "account:dashboard" %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
		        <li><a href="{% url "account:send_cash" %}"><i class="fa fa-upload fa-fw"></i> Send Cash</a></li>
		        <li><a href="{% url "account:recieve_cash" %}"><i class="fa fa-download fa-fw"></i> Recieve Cash</a></li>
		        <li><a href="{% url "account:login" %}"><i class="fa fa-history fa-fw"></i> Account Summary</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

        <h1>My Profile</h1>
<div class="panel panel-default" style="margin-bottom: 40px;">
    <div class="panel-body">

      <form action="{% url "account:profile" %}" class="form-register" name="registration" method="post" role="form">
      {% if errors %}
        <div class="alert alert-danger" style="margin-bottom: 15px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        	{% for e in errors %}
                  <strong>Error!</strong> {{ e }}.</br>
        	{% endfor %}
        </div>
      {% elif updated %}
        <div class="alert alert-success" style="margin-bottom: 15px;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Your account has been successfully updated.
        </div>
      {% endif %}
      <legend></legend>
      <fieldset>             
        <div class="form-group">
          <label>Username:</label>
          <input class="form-control" type='text' name='username' value={{ request.user }}  disabled/>
        </div>              
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" type='text' name='email' value={{ request.user.email }}  disabled/>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input  class="form-control" placeholder="Phone number must be 11 digits long" type='text' onkeypress="return validateNumber(event)" name='phone' maxlength="11" value={% if request.user.profile.phone %}{{ request.user.profile.phone }}{% else %}""{% endif %} required/>
        </div>
        <div class="form-group">
            <label>Surname:</label>
            <input  class="form-control" placeholder="Only alphabets" type='text' name='surname' value={% if request.user.profile.surname %}{{ request.user.profile.surname }}{% else %}""{% endif %} required/>
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <input class="form-control" placeholder="Only alphabets" type='text' name='first_name' value={% if request.user.profile.first_name %}{{ request.user.profile.first_name }}{% else %}""{% endif %} required/>
        </div>
        <div class="form-group">
            <label>Bank:</label>
            <select class="form-control" name="bank" required>
                <option></option>
                <option {% if request.user.profile.bank == 'Access Bank' %}selected{% endif %}>
                    Access Bank</option>
                <option {% if request.user.profile.bank == 'Citibank' %}selected{% endif %}>
                    Citibank</option>
                <option {% if request.user.profile.bank == 'Diamond Bank' %}selected{% endif %}>
                    Diamond Bank</option>
                <option {% if request.user.profile.bank == 'Ecobank Nigeria' %}selected{% endif %}>
                    Ecobank Nigeria</option>
                <option {% if request.user.profile.bank == 'Fidelity Bank Nigeria' %}selected{% endif %}>
                    Fidelity Bank Nigeria</option>
                <option {% if request.user.profile.bank == 'First Bank of Nigeria' %}selected{% endif %}>
                    First Bank of Nigeria</option>
                <option {% if request.user.profile.bank == 'First City Monument Bank' %}selected{% endif %}>
                    First City Monument Bank</option>
                <option {% if request.user.profile.bank == 'FSDH Merchant Bank' %}selected{% endif %}>
                    FSDH Merchant Bank</option>
                <option {% if request.user.profile.bank == 'Guaranty Trust Bank' %}selected{% endif %}>
                    Guaranty Trust Bank</option>
                <option {% if request.user.profile.bank == 'Heritage Bank Plc.' %}selected{% endif %}>
                    Heritage Bank Plc.</option>
                <option {% if request.user.profile.bank == 'Keystone Bank Limited' %}selected{% endif %}>
                    Keystone Bank Limited</option>
                <option {% if request.user.profile.bank == 'Rand Merchant Bank' %}selected{% endif %}>
                    Rand Merchant Bank</option>
                <option {% if request.user.profile.bank == 'Skye Bank' %}selected{% endif %}>
                    Skye Bank</option>
                <option {% if request.user.profile.bank == 'Stanbic IBTC Bank Nigeria Limited' %}selected{% endif %}>
                    Stanbic IBTC Bank Nigeria Limited</option>
                <option {% if request.user.profile.bank == 'Standard Chartered Bank' %}selected{% endif %}>
                    Standard Chartered Bank</option>
                <option {% if request.user.profile.bank == 'Sterling Bank' %}selected{% endif %}>
                    Sterling Bank</option>
                <option {% if request.user.profile.bank == 'Suntrust Bank Nigeria Limited' %}selected{% endif %}>
                    Suntrust Bank Nigeria Limited</option>
                <option {% if request.user.profile.bank == 'Union Bank of Nigeria' %}selected{% endif %}>
                    Union Bank of Nigeria</option>
                <option {% if request.user.profile.bank == 'United Bank for Africa' %}selected{% endif %}>
                    United Bank for Africa</option>
                <option {% if request.user.profile.bank == 'Unity Bank Plc.' %}selected{% endif %}>
                    Unity Bank Plc.</option>
                <option {% if request.user.profile.bank == 'Wema Bank' %}selected{% endif %}>
                    Wema Bank</option>
                <option {% if request.user.profile.bank == 'Zenith Bank' %}selected{% endif %}>
                    Zenith Bank
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Account Number:</label>
            <input class="form-control" name="account_number" onkeypress="return validateNumber(event)" class="form-input" maxlength="10" value={% if request.user.profile.account_number %}{{ request.user.profile.account_number }}{% else %}""{% endif %} required />
        </div>
       
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block">Update</button>
      </fieldset>
    </form>

    </div>
</div>

</div></div></div>

{% endblock %}